.my-stuff
  .row
    .col-md-6.col-sm-12
      %h1
        Star-API
      %p
        This is an API to the American Museum of Natural History's Digital Universe.
      %p
        The Team:
        #{link_to 'Nancy', 'https://github.com/NancyKo'},
        #{link_to 'Jose', 'https://github.com/jdmcpeek'},
        #{link_to 'Zak', 'https://github.com/zniazi'}, 
        #{link_to 'Waldemar', 'https://github.com/wallyqs'}, 
        #{link_to 'Nichol', 'https://github.com/nicholalexander'}, 
        #{link_to 'Suren', 'https://github.com/surenm'}


      

